<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/assets/icons/baker.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;700&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
		<title>Lista de Pedidos</title>
	</head>

	<body>
		<header class="header-container">
			<div class="navbar">
				<div class="logo">
					<img src="/assets/img/navigation-logo.png" alt="logo" />
				</div>
				<nav>
					<ul class="menu-bar">
						<li><a href="/index.html">Inicio</a></li>
						<li><a href="/views/pedidos.html">Pedidos</a></li>
						<li><a href="#"> Estas en Lista de Pedidos</a></li>
						<li><a href="/views/nosotros.html">Nosotros</a></li>
						<li><a href="#">Iniciar Sesión</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="menupas">

			<h1 class="pastelero">Pedidos</h1>

			<section class="tabla1">
				<table>
					<tr>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th>Correo electrónico</th>
						<th>Descripción general del pastel</th>
						<th>Sabor(es)</th>
						<th>Tamaño</th>
						<th>Adorno(s)</th>
					</tr>
					<tr>
						<td>Jesica</td>
						<td>9890156970</td>
						<td>jes.21@gmail.com</td>
						<td>Un pastel grande de chocolate y tres leches, con cubierta de chocolate, fresas y escarchado</td>
						<td>Chocolate <br> Tres leches</td>
						<td>Grande (Gr)</td>
						<td>Cobertura de chocolate <br><br> Fresas <br><br> Escarchado</td>
					</tr>

					<tr>
						<td>David</td>
						<td>9890029874</td>
						<td>david.32@gmail.com</td>
						<td>Un pastel mediano de vainilla, oreo y moka, con fondat de chocolate blanco, betún de fresa y frutas</td>
						<td>Vainilla <br> Oreo <br> Moka</td>
						<td>Mediano (Med)</td>
						<td>Fondat de chocolate blanco <br><br> Betún de fresa <br><br> Frutas</td>
					</tr>

					<tr>
						<td>Alex</td>
						<td>986031112</td>
						<td>a_25@gmail.com</td>
						<td>Un pastel chico de fresa y oreo, con caramelo, chispas y fondant de malvavisco</td>
						<td>Fresa <br> Oreo</td>
						<td>Chico (Ch)</td>
						<td>Salsa de caramelo <br><br> Chispas <br><br> Fondant de base de malvavisco</td>
					</tr>
				</table>
			</section>

			<hr>

			<h1 class="pastelero">Inventario</h1>

			<section class="tabla2">
				<table>
					<tr>
						<th>Sabores</th>
					<tr>
						<td>Vainilla</td>
					</tr>
					<tr>
						<td>Chocolate</td>
					</tr>
					<tr>
						<td>Limón</td>
					</tr>
					<tr>
						<td>Fresa</td>
					</tr>
					<tr>
						<td>Oreo</td>
					</tr>
					<tr>
						<td>Café</td>
					</tr>
					<tr>
						<td>Moka</td>
					</tr>
					<tr>
						<td>Dulce de leche</td>
					</tr>
					<tr>
						<td>Coco</td>
					</tr>
					<tr>
						<td>Tres leches</td>
					</tr>
					</tr>
				</table>
				<br>
				<table class="tablacan2">
					<tr>
						<th>Cantidad</th>
					<tr>
						<td>50</td>
					</tr>
					<tr>
						<td>30</td>
					</tr>
					<tr>
						<td>20</td>
					</tr>
					<tr>
						<td>15</td>
					</tr>
					<tr>
						<td>10</td>
					</tr>
					<tr>
						<td>8</td>
					</tr>
					<tr>
						<td>25</td>
					</tr>
					<tr>
						<td>40</td>
					</tr>
					<tr>
						<td>35</td>
					</tr>
					<tr>
						<td>17</td>
					</tr>
				</table>
			</section>

			<br><br><br>

			<section class="tabla3">
				<table>
					<tr>
						<th>Adornos</th>
					<tr>
						<td>Cobertura de chocolate</td>
					</tr>
					<tr>
						<td>Fondant de base de malvavisco</td>
					</tr>
					<tr>
						<td>Fondant de chocolate</td>
					</tr>
					<tr>
						<td>Fondant de chocolate blanco</td>
					</tr>
					<tr>
						<td>Salsa de caramelo</td>
					</tr>
					<tr>
						<td>Betún de vainilla</td>
					</tr>
					<tr>
						<td>Betún de chocolate</td>
					</tr>
					<tr>
						<td>Betún de fresa</td>
					</tr>
					<tr>
						<td>Escarchado</td>
					</tr>
					<tr>
						<td>Glaseado</td>
					</tr>
					<tr>
						<td>Frutas </td>
					</tr>
					<tr>
						<td>Chispas</td>
					</tr>
					</tr>
				</table>
				<br>
				<table class="tablacan3">
					<tr>
						<th>Cantidad</th>
					<tr>
						<td>30</td>
					</tr>
					<tr>
						<td>20</td>
					</tr>
					<tr>
						<td>17</td>
					</tr>
					<tr>
						<td>25</td>
					</tr>
					<tr>
						<td>12</td>
					</tr>
					<tr>
						<td>10</td>
					</tr>
					<tr>
						<td>5</td>
					</tr>
					<tr>
						<td>33</td>
					</tr>
					<tr>
						<td>35</td>
					</tr>
					<tr>
						<td>37</td>
					</tr>
					<tr>
						<td>8</td>
					</tr>
					<tr>
						<td>18</td>
					</tr>
					</tr>
				</table>
			</section>
			<br><br><br>
		</div>
	</body>

</html>