<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/assets/icons/baker.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;700&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
		<title>Nosotros</title>
	</head>

	<body>
		<header class="header-container">
			<div class="navbar">
				<div class="logo">
					<img src="/assets/img/navigation-logo.png" alt="logo" />
				</div>
				<nav>
					<ul class="menu-bar">
						<li><a href="/index.html">Inicio</a></li>
						<li><a href="/views/pedidos.html">Pedidos</a></li>
						<li><a href="/views/lista-pedidos.html">Lista de Pedidos</a></li>
						<li><a href="#">Estas en Nosotros</a></li>
						<li><a href="/views/login.html">Iniciar Sesión</a></li>
				</nav>
			</div>
		</header>

		<!-- Footer -->

		<footer class="footer-container">
			<div class="footer-content-container">
				<div class="sigue-nuestro-rastro">
					<h3>SIGUENOS EL RASTRO EN</h3>
					<div class="redes-container">
						<a href="#">
							<img src="/assets/icons/fb-logo.png" alt="facebook">
						</a>
						<a href="#">
							<img src="/assets/icons/instagram-log.png" alt="instagram">
						</a>
						<a href="#">
							<img src="/assets/icons/telegram-log.png" alt="telegram">
						</a>
					</div>
				</div>
				<ul class="footer-nav">
					<li><a href="index.html">Inicio </a></li> |
					<li><a href="/views/pedidos.html"> Pedidos </a></li> |
					<li><a href="/views/lista-pedidos.html"> Lista de Pedidos </a></li> |
					<li><a href="/views/nosotros.html">Nosotros </a></li> |
					<li><a href="/views/login.html"> Iniciar Sesión</a></li>
				</ul>
				<p class="rights-reserved">© Derechos Reservados <strong>Legendary Cake Shop, S.A. de C.V.</strong> </p>
				<div class="footer-logo">
					<img src="/assets/img/legendary-logo-footer.png" alt="footer-logo">
				</div>
			</div>
		</footer>
	</body>

</html>