<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/assets/icons/baker.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;700&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
		<title>Pedidos</title>
	</head>

	<body>

		<!-- Header -->
		<header class="header-container">
			<div class="navbar">
				<div class="logo">
					<img src="/assets/img/navigation-logo.png" alt="logo" />
				</div>
				<nav>
					<ul class="menu-bar">
						<li><a href="/index.html">Inicio</a></li>
						<li><a href="#">Estas en Pedidos</a></li>
						<li><a href="/views/lista-pedidos.html">Lista de Pedidos</a></li>
						<li><a href="/views/nosotros.html">Nosotros</a></li>
						<li><a href="/views/login.html">Iniciar Sesión</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="intro-pedidos">
			<h1 class="frases">Bienvenido(a) a <h2>Legen... wait for it... dary! Cake Shop </h2>
			</h1>
			<p>Una pastelería que te brindará una experiencia de sabores, <strong>¡fuera de este mundo!</strong></p>
			<h2>Para poder brindarte esta experiencia, cuéntanos...</h2>
		</div>

		<hr>

		<!-- Formulario -->
		<legend>¿Cómo quieres tu pastel legendario?</legend>
		<form class="formulario" action="/accion.js" id="form1" method="post">

			<label for="nombre">Tu nombre completo</label>
			<input type="text" id="nombre" name="nombre">
			<label for="telefono">Ingresa tu número celular</label>
			<input type="tel" id="telefono" name="telefono">
			<label for="correo">Ingresa tu correo</label>
			<input type="email" id="correo" name="correo">
			<label for="descripcion">Describeme tu pastel legendario</label>
			<textarea rows="5" , cols="10" id="descripcion" name="description"></textarea>

			<section>
				<h3>Elige de que vas a querer tu pastel/h3>
					<input type="checkbox" id="sabor1" name="sabor1" value="Baileys" class="check">
					<label for="sabor1" class="seleccion">Baileys</label>
					<br>
					<input type="checkbox" id="sabor2" name="sabor2" value="Batipastel" class="check">
					<label for="sabor2" class="seleccion">Batipastel (Cheescake con Rompope)</label>
					<br>
					<input type="checkbox" id="sabor3" name="sabor3" value="Cheesecake_de_Guayaba" class="check">
					<label for="sabor3" class="seleccion">Cheescake de Guayaba</label>
					<br>
					<input type="checkbox" id="sabor4" name="sabor4" value="Choconuez" class="check">
					<label for="sabor4" class="seleccion">Choconuez</label>
					<br>
					<input type="checkbox" id="sabor5" name="sabor5" value="Fresas" class="check">
					<label for="sabor5" class="seleccion">Fresas</label>
					<br>
					<input type="checkbox" id="sabor6" name="sabor6" value="Mil_Hojas" class="check">
					<label for="sabor6" class="seleccion">Mil Hojas</label>
					<br>
					<input type="checkbox" id="sabor7" name="sabor7" value="Moka" class="check">
					<label for="sabor7" class="seleccion">Moka</label>
					<br>
					<input type="checkbox" id="sabor8" name="sabor8" value="Tarta_de_Mousse_de_Mango" class="check">
					<label for="sabor8" class="seleccion">Tarta de Mousse de Mango</label>
					<br>
					<input type="checkbox" id="sabor9" name="sabor9" value="Tres_Leches" class="check">
					<label for="sabor9" class="seleccion">Tres Leches</label>
					<br>
					<input type="checkbox" id="sabor10" name="sabor10" value="Zanahoria" class="check">
					<label for="sabor10" class="seleccion">Zanahoria</label>
			</section>

			<section class="selec2">
				<h3>Seleccione el tamaño que desee</h3>
				<input type="radio" id="grande" name="tamaño" value="Grande" class="check">
				<label for="grande" class="seleccion">Grande (Gr)</label><br>
				<input type="radio" id="mediano" name="tamaño" value="Mediano" class="check">
				<label for="mediano" class="seleccion">Mediano (Med)</label><br>
				<input type="radio" id="chico" name="tamaño" value="Chico" class="check">
				<label for="chico" class="seleccion">Chico</label><br><br>
			</section>

			<section class="selec3">
				<h3>Seleccione los adorno que desee</h3>
				<input type="checkbox" id="adorno1" name="adorno1" value="Betun" class="check">
				<label for="adorno1" class="seleccion">Betún</label>
				<br>
				<input type="checkbox" id="adorno2" name="adorno2" value="Brillantina" class="check">
				<label for="adorno2" class="seleccion">Brillantinao</label>
				<br>
				<input type="checkbox" id="adorno3" name="adorno3" value="Chocolate" class="check">
				<label for="adorno3" class="seleccion">Chocolate</label>
				<br>
				<input type="checkbox" id="adorno4" name="adorno4" value="Confeti" class="check">
				<label for="adorno4" class="seleccion">Confeti</label>
				<br>
				<input type="checkbox" id="adorno5" name="adorno5" value="Fondant" class="check">
				<label for="adorno5" class="seleccion">Fondant</label>
				<br>
				<input type="checkbox" id="adorno6" name="sadorno6" value="Fruta" class="check">
				<label for="adorno6" class="seleccion">Fruta</label>
				<br>
				<input type="checkbox" id="adorno7" name="adorno7" value="Galleta" class="check">
				<label for="adorno7" class="seleccion">Galleta</label>
				<br>
				<input type="checkbox" id="adorno8" name="adorno8" value="Ganache" class="check">
				<label for="adorno8" class="seleccion">Ganache</label>
				<br>
				<input type="checkbox" id="adorno9" name="adorno9" value="Mousse" class="check">
				<label for="adorno9" class="seleccion">Mousse</label>
				<br>
				<input type="checkbox" id="adorno10" nsame="adorno10" value="Ralladura" class="check">
				<label for="adorno10" class="seleccion">Ralladura</label>
			</section>
			<br><br><br>
			<input type="reset" id="restablecer" name="restablecer" value="Restablecer"><br><br>
			<input type="submit" id="enviar" name="enviar" value="Enviar"
				onclick="alert('Su pedido se ha enviado correctamente');"><br>
		</form>

		<!-- Footer -->

		<footer class="footer-container">
			<div class="footer-content-container">
				<div class="sigue-nuestro-rastro">
					<h3>SIGUENOS EL RASTRO EN</h3>
					<div class="redes-container">
						<a href="#">
							<img src="/assets/icons/fb-logo.png" alt="facebook">
						</a>
						<a href="#">
							<img src="/assets/icons/instagram-log.png" alt="instagram">
						</a>
						<a href="#">
							<img src="/assets/icons/telegram-log.png" alt="telegram">
						</a>
					</div>
				</div>
				<ul class="footer-nav">
					<li><a href="index.html">Inicio </a></li> |
					<li><a href="/views/pedidos.html"> Pedidos </a></li> |
					<li><a href="/views/lista-pedidos.html"> Lista de Pedidos </a></li> |
					<li><a href="/views/nosotros.html">Nosotros </a></li> |
					<li><a href="/views/login.html"> Iniciar Sesión</a></li>
				</ul>
				<p class="rights-reserved">© Derechos Reservados <strong>Legendary Cake Shop, S.A. de C.V.</strong> </p>
				<div class="footer-logo">
					<img src="/assets/img/legendary-logo-footer.png" alt="footer-logo">
				</div>
			</div>
		</footer>

	</body>

</html>